.row {
  max-width: 600px;
  margin: 10px auto;
}

#row2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#row3 {
  max-width: 500px;
  text-align: center;
}

body {
  font-family: Monospace;
  font-size: 16px;
  
}

.temperature {
  font-size: 2em;
  height: 128px;
}

.xcentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  padding-top: 40px;
}

footer {
  padding-top: 40px;
}

#buttons {
  max-width: 200px;
  margin: 0 auto;
}

.time-place {
  padding: 0 10px;
}

.attribution {
  font-size: 12px;
  margin: 30px;
  text-align: center;
}
